@media screen and (min-width: 992px) {
    .login-form-container {
      flex-direction: row;
      justify-content: space-around;
  
    } 
   
}
    .main{
     position: relative;
     bottom: 50px;
     height: 500px;

        /* background-image: url("image.jfif  "); */
       
    }
  
  .login-website-logo-mobile-image {
    width: 165px;
    margin-top: 50px;
    margin-bottom: 35px;
  }
  @media screen and (min-width: 992px) {
    .login-website-logo-mobile-image {
      display: none;
    }
  }
  .login-image {
    width: 278px;
  }
  @media screen and (min-width: 992px) {
    .login-image {
      width: 60%;
      max-width: 524px;
      flex-shrink: 1;
      margin-right: 20px;
    }
  }                                    
  .login-website-logo-desktop-image {
    width: 185px;
  }
  @media screen and (max-width: 991px) {
    .login-website-logo-desktop-image {
      display: none;
    }
  }
  .login-image{
    width:600px;
    height:330px;
    margin-top:50px;
  }
.dont:hover{
  color: #3949AB;
  text-decoration: underline;

}
.login-main{
}